/*
 * Estilos de tu proyecto
 */

 /*Reset*/
 html {
   font-size: 62.5%;
 }

 body {
   margin: 0;
 }

/*Variables*/
:root {
 --color-white: #ffff;
 --bg-color-alternative:#18bc9c;
 --footer-color: #212529;
 --color-grey: #2c3e50;
 --rem-small: 1.6rem;
 --rem-regular: 2rem;
 --rem-medium: 2.4rem;
 --rem-big: 2.8rem;
 --rem-large: 3.2rem;
 --rem-huge: 4.8rem;
 --rem-gigantic: 7.6rem;
}

/*Default*/
ul {
  padding: 0;
  list-style: none;
  list-style-type: none;
  list-style-position:

}

.fixed-top {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
}

.bg-alternative {
  background-color: var(--bg-color-alternative);
}

.ft-color {
  background-color: var(--footer-color);
}

.bg-grey {
  background-color: var(--color-grey);
}


/*Box Model*/
.display-inline-block {
  display: inline-block;
}

.display-flex {
  display: flex;
}

.flex-direction-row {
  flex-direction: row;
}

.display-block {
  display: block;
}
.box-sizing-border-box {
  box-sizing: border-box;
}

.line-height-24 {
  line-height: 2.4rem
}

.line-height-64{
  line-height: 6.4rem;
}

.line-height-30 {
  line-height: 3rem;
}

.margin-top-bottom-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.nav-ul {
  display:flex;
  flex-direction: row;
  margin-left: 38.8656rem;
}

.a-start-boostrap {
  margin-right: var(--rem-small);
  padding-top: .5rem;
  padding-bottom: .5rem;
  line-height: var(--rem-huge)
}


.container {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  margin-left: 8.85rem;
  margin-right: 8.85rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

/*Navegation*/
.nav {
  padding: var(--rem-medium) var(--rem-small);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  }

.botton-download {
 padding-left: 2rem;
 padding-right: 3rem;
 padding-top: 2rem;
 padding-bottom: 2rem;
 border: .2rem solid var(--color-white);
 border-radius: .5rem;
 font-size: var(--rem-regular);
}

/*Fonts*/
.font-montserrat {
  font-family: 'Montserrat', sans-serif;
}

.font-lato {
  font-family: 'Lato', sans-serif;
}

.font-weight-700 {
  font-weight: 700;
}

.font-weight-400 {
  font-weight: 400;
}

.color-white {
  color: var(--color-white);
}

.color-grey {
  color: var(--color-grey);
}


.text-align-center {
  text-align:center;
}

.text-align-left {
  text-align: left;
}

.font-size-gigantic {
  font-size: var(--rem-gigantic);
}

.font-size-huge {
  font-size: var(--rem-huge);
}

.font-size-large {
  font-size: var(--rem-large);
}

.font-size-big {
  font-size: var(--rem-big);
}

.font-size-medium {
  font-size: var(--rem-medium);
}

.font-size-regular {
  font-size: var(--rem-regular);
}

.font-size-small {
  font-size: var(--rem-small);
}

.text-uppercase {
  text-transform: uppercase;
}

.text-decoration-none {
  text-decoration: none;
}

.letter-spacing{
  letter-spacing: .1rem;
}

.padding-li {
  padding-left: var(--rem-small);
  padding-right: var(--rem-small);
  padding-top: var(--rem-small);
  padding-bottom: var(--rem-small);
}

.padding-sb {
  padding-top: .5rem;
  padding-bottom: .5rem;
}

/*Sections:*/
.hdr {
  height: 78.3rem;
  display: block;
  padding-bottom: 9.6rem;
  padding-top: 20.2rem;
}

.header-container {
  height: 48.5rem;
  margin-left: 10.45rem;
  margin-right: 10.45rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.padding-top5-bottom9 {
  padding-top: 5rem;
  padding-bottom: 8.3rem;
}

.s-portfolio {
  margin-bottom: -.3rem;
}
/*About*/

.s-about {
  background-color: var(--bg-color-alternative);
  height: 61rem;
  padding-left: 9.6rem;
  padding-right: 9.6rem;
}

.padding-right-p {
  padding right:  3rem;
  padding-left: 3rem;
}

.text-container {
 padding-left: 21rem;
 padding-right: 21rem;
 padding-bottom: 4rem;
}

.vertical-align-middle {
  vertical-align: middle;

}

/*Assets*/
/*Images*/
.img-profile {
  height: 25.6rem;
  margin-left: 4.27rem;
  margin-right: 4.27rem;
  margin-bottom: var(--rem-huge);
}

.container-all-images {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 1.5rem;
  padding-right: 1.5rem;

}

.container-img {
  height:  25.2766rem;
  width: 35rem;
  padding: 1.5rem;
}

.img-size {
  height: 100%;
  width: 100%;
}

/*Icons*/

.profile-star-icon {
  font-size: var(--rem-large);
  padding: 0 .8rem;
  top: -2.65rem;
}

.star-icon {
  font-size: var(--rem-big);
  padding: 0 .8rem;
  top: -2.65rem;
}

.download-icon {
  padding-left: .8rem;
  padding-right: 1rem;
}
